<div class="navbar-wagon navbar-default navbar-static-top">
  <!-- Logo -->
    <div class="navbar-home-item">
      <%= link_to root_path do %>
        <%= image_tag "logo.png", height: 50 %>
      <% end %>
    </div>

    <!-- Right Navigation -->
    <div class="hidden-xs">

          <!-- Links when logged in -->
        <%= link_to "About", "#", class: "navbar-home-item navbar-wagon-link tab" %>
        <%= link_to "Challenges", home_challenges_path, class: "navbar-home-item navbar-wagon-link tab" %>
        <%= link_to "Articles", articles_path, class: "navbar-home-item navbar-wagon-link tab" %>
        <%= link_to "Ranking", "#", class: "navbar-home-item navbar-wagon-link tab" %>
    </div>

        <!-- Avatar with dropdown menu -->
      <% if user_signed_in? %>
    <div class="navbar-home-item hidden-xs">
      <div class="dropdown">
        <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> Salut<%#= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-cog"></i>  Salut<%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
          </li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
        </ul>
<!--     <#%= link_to destroy_user_session_path, class: 'btn btn-primary', method: :delete do %>
      <%#= t(".sign_out", default: "Log out") %>
    <#% end %>
 -->
      </div>
    </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-home-item navbar-wagon-link btn-black" %>
    <% end %>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-home-item hidden-sm hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
